<%= link_to 'Editar Cliente', edit_client_path(@client) %>

<%= link_to 'Excluir Cliente', client_path(@client), method: :delete %>

<dl>
  <dt><%= t('clients.name') %>:</dt>
  <dd><%= @client.name %></dd>
  <dt><%= t('clients.email') %>:</dt>
  <dd><%= @client.email %></dd>
  <dt><%= t('clients.secondary_email') %>:</dt>
  <dd><%= @client.secondary_email %></dd>
  <dt><%= t('clients.phone') %>:</dt>
  <dd><%= @client.phone %></dd>
  <dt><%= t('clients.comercial_phone') %>:</dt>
  <dd><%= @client.comercial_phone %></dd>
</dl>

<h3>Contatos</h3>

<%= link_to 'Adicionar Contato', new_client_contact_path(@client) %>

<% if @client.contacts.blank? %>

<% else %>
  <% @client.contacts.each do |c| %>
    <dl>
      <dt><%= t('contacts.name') %>:</dt>
      <dd><%= link_to c.name, contact_path(c) %></dd>
      <dt><%= t('contacts.email') %>:</dt>
      <dd><%= c.email %></dd>
      <dt><%= t('contacts.secondary_email') %>:</dt>
      <dd><%= c.secondary_email %></dd>
      <dt><%= t('contacts.phone') %>:</dt>
      <dd><%= c.phone %></dd>
      <dt><%= t('contacts.comercial_phone') %>:</dt>
      <dd><%= c.comercial_phone %></dd>
    </dl>

    <%= link_to 'Excluir Contato', contact_path(c), method: :delete %>
  <% end %>
<% end %>