<h1>Contato vinculado ao cliente: <%= link_to @contact.client.name, client_path(@contact.client) %></h1>

<hr>

<%= link_to 'Editar Contato', edit_contact_path(@contact), class: 'btn btn-primary mb-2' %>

<dl>
  <dt><%= t('contacts.name') %>:</dt>
  <dd><%= @contact.name %></dd>
  <dt><%= t('contacts.email') %>:</dt>
  <dd><%= @contact.email %></dd>
  <dt><%= t('contacts.secondary_email') %>:</dt>
  <dd><%= @contact.secondary_email %></dd>
  <dt><%= t('contacts.phone') %>:</dt>
  <dd><%= @contact.phone %></dd>
  <dt><%= t('contacts.comercial_phone') %>:</dt>
  <dd><%= @contact.comercial_phone %></dd>
</dl>


<%= link_to 'Excluir Contato', contact_path(@contact), method: :delete, class: 'btn btn-danger'  %>

<hr>

<%= link_to 'Voltar', client_path(@contact.client), class: 'btn btn-light' %>