<!DOCTYPE html>
<html>
  <head>
    <title>DesafioCostumerx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Clientes', clients_path %>
    <% if user_signed_in? %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
